<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- link rel="icon" href="../../favicon.ico" -->

    <title>TeamCity API</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
  </head>

  <body ng-app>

    <div class="container">
      <!-- Example row of columns -->
		<nav class="{{active}}" ng-click="$event.preventDefault()" ng-model="active">

			<!-- When a link in the menu is clicked, we set the active variable -->

			<a href="#" class="production" ng-click="active='production'">Production</a>
			<a href="#" class="sandbox" ng-click="active='sandbox'">Sandbox</a>
		</nav>

		<p ng-hide="active">Please choose TeamCity environment</p>
		<p ng-show="active">Using TeamCity <b>{{active}}</b> environment</p>
      <div class="row"  ng-controller="ParentController">
        <div class="col-md-4">
          <h2>TeamCity Host - {{active}}</h2>

<!--  
           <button ng-click="toggleHost()" class="button" title="click to toggle hosts">{{name}}</button> is referenced on <a ng-href="http://{{host}}/">http://{{host}}/</a> 
-->

          <p>Blah, blah, blah, yada, yada, yada...</p>
        </div>
        <div class="col-md-4"  ng-show="active" ng-controller="ChildController">
          <h2>Projects in {{ name }}</h2>
           <div>
               <tr ng-repeat="project in projects">
                  <td>Id: {{ project.id }}</td><td>Name: {{ project.name }}</td><td>Parent Project Id: {{ project.parentProjectId }}</td><td>Description: {{ project.description }}</td><td>Url: {{ project.webUrl }}</td>
               </tr>
          </div> 
          <p>Blah, blah, blah, yada, yada, yada...</p>
      </div>
        <div ng-show="active" class="col-md-4" ng-controller="ChildController">
          <h2>Heading</h2>
          <p>Blah, blah, blah, yada, yada, yada...</p>

        </div>
      </div>

      <hr>

      <footer>
        <p>&copy; Rovi Corp., 2015</p>
      </footer>
    </div> <!-- /container -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.js"></script>
  <script src="assets/js/controllers.js"></script>
<!--
  <script src="api/controllers.js"></script>
-->
  </body>
</html>
